.card{
  border: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8) ;
  width: 200px;
  border-radius: 10px;
  background-color: rgba(226, 218, 218, 0.852);
 
}
.card .cabecalho{
  width: 100%;
  border-radius: 10px  10px 0 0;
  margin: auto;
  z-index: 1;
  
}
.cabecalho img{
  width: 80%;
  height: 200px;
  padding: 1rem;
  border-radius: 20px;
  z-index: 2;
}
.card .rodape{
  text-transform: uppercase;
  color: #000;
  
}
