.formulario{
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
.formulario form{
  max-width: 70%;
  background-color:#540c0b;
  border-radius: 20px;
  padding: 32px 64px;
  color:#9dbbc3;
  font-size: 1.2rem;
  box-shadow: -2px 4px 8px;
}
