.lista-suspensa label{
  display: block;
  text-align: left;
  margin-bottom: 8px;
}
.lista-suspensa select{
  background-color: #fff;
  box-shadow: 10px 10px 30px rgba(0,0,0, 0.33);
  border: none;
  border-radius: 5px;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}